<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Modal_Investigadores')">
    <meta charset="utf-8" />

</head>

<div id="agregarInvestigadoresModal" class="modalContainer">
    <div class="modal-contentCruds">
        <span class="closeModalInvestigador"></span>
        <h2 id="idTitleCrearInvestigador"></h2>
        <form th:action="@{/Investigadores/save}" th:object="${investigador}" method="post" enctype="multipart/form-data" id="form">
            <div class="form-group">
                <label>Id del Investigador: </label> <input type="text" readonly class="form-control inputInvestigadores" name="id" id="id" placeholder="Ingrese el ID del Investigador"> <small id="emailHelp" class="form-text text-muted">El ID del investigador.</small>
            </div>
            <div class="form-group">
                <label>Nombre del Investigador: </label> <input type="text" readonly class="form-control inputInvestigadores " name="nombre" id="nombre" placeholder="Ingrese nombre del Investigador">
            </div>
            <div class="form-group">
            	<label>Nivel academico: </label> <input type="text" readonly class="form-control inputInvestigadores " name="nivelAcademico" id="nivelAcademico" placeholder="Ingrese nivel academico">
            </div>
            <div class="form-group">
                <label>Categoría: </label> <input type="text" readonly class="form-control inputInvestigadores " name="categoria" id="categoria" placeholder="Ingrese Categoría">
            </div>
            <div class="form-group">
                <label>Pertenencia: </label> <input type="text" readonly class="form-control inputInvestigadores " name="pertenencia" id="pertenencia" placeholder="Ingrese pertenencia">
            </div>
            <div class="form-group">
                <label>Sexo: </label> <input type="text" readonly class="form-control inputInvestigadores " name="sexo" id="sexo" placeholder="Ingrese sexo">
            </div>
            <div>
            	<label>Foto: </label>
    			<input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg" onchange="validateSize(this)"/>
    			<small id="emailHelp" class="form-text text-muted">Tamaño maximo de 5MB.</small>
    			<img class="img-centro" alt="Foto preview" id="thumbnail" width="150" height="250" onclick="verFoto(this)">
    			<small class="text-center form-text text-muted">Click para ver más grande.</small>
    			
            </div>
        </form>
        <div align="right" class="mt-5">
        	<a href="#" class="closeModalInvestigador">Cancelar</a>
        	<button class="btn btn-primary" onclick="enviar()">
        		<i class="fas fa-save"></i> Guardar
        	</button>
         </div>
    </div>
</div>
<script type="text/javascript">

function validateSize(input) {
	  const fileSize = input.files[0].size / 1024 / 1024; // in MiB
	  if (fileSize > 5) {
		  Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: '¡El archivo es muy pesado! el limite es de 5 MB.'
          });
		  input.value=''; 
	  }else{
		  document.getElementById('thumbnail').src = window.URL.createObjectURL(input.files[0]);
	  } 
	}
	
function enviar() {
	  file = document.getElementById("fileImage");
	  if(file.value!=''){
		  Swal.fire(
                  '¡Correcto!',
                  'Imagen cargada.',
                  'success'
              );
		  document.getElementById('form').submit();
	  }
	}
	
function verFoto(file) {
	Swal.fire({
		  imageUrl: file.src,
		  imageHeight: 600,
		  imageAlt: 'A tall image'
		})
	}
</script>